@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";

@import "@radix-ui/colors/black-alpha.css";

reset
input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}

.FormRoot {
	width: 100vw;
}

.FormField {
	display: grid;
	margin-bottom: 10px;
}

.FormLabel {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: white;
}

.FormMessage {
	font-size: 13px;
	color: white;
	opacity: 0.8;
}

.Input,
.Textarea {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	background-color: var(--black-a2);
	box-shadow: 0 0 0 1px var(--black-a6);
}

.Input:hover,
.Textarea:hover {
	box-shadow: 0 0 0 1px black;
}

.Input:focus,
.Textarea:focus {
	box-shadow: 0 0 0 2px black;
}

.Input::selection,
.Textarea::selection {
	background-color: var(--black-a6);
	color: white;
}

.Input {
	padding: 0 10px;
	height: 35px;
	line-height: 1;
}

.Textarea {
	resize: none;
	padding: 10px;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	width: 20%;
	background-color: white;
	color: var(--violet-11);
	box-shadow: 0 2px 10px var(--black-a4);
}

.Button:hover {
	background-color: var(--mauve-3);
}

.Button:focus {
	box-shadow: 0 0 0 2px black;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 使容器至少占满整个视口高度 */
  width: 100%;
}

.TabsRoot {
	display: flex;
	flex-direction: column;
	/* width: 300px; */
	box-shadow: 0 2px 10px var(--black-a4);
}

.TabsList {
	flex-shrink: 0;
	display: flex;
	border-bottom: 1px solid var(--mauve-6);
}

.TabsTrigger {
	font-family: inherit;
	background-color: black;
	padding: 0 20px;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 1;
	color: var(--mauve-11);
	user-select: none;
}
.TabsTrigger:first-child {
	border-top-left-radius: 6px;
}
.TabsTrigger:last-child {
	border-top-right-radius: 6px;
}
.TabsTrigger:hover {
	color: var(--violet-11);
}
.TabsTrigger[data-state="active"] {
	color: var(--violet-11);
	box-shadow:
		inset 0 -1px 0 0 currentColor,
		0 1px 0 0 currentColor;
}
.TabsTrigger:focus {
	position: relative;
	box-shadow: 0 0 0 2px black;
}

.TabsContent {
	flex-grow: 1;
	padding: 20px;
	background-color: black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
}
.TabsContent:focus {
	box-shadow: 0 0 0 2px black;
}


/* reset */
button,
fieldset,

.DialogOverlay {
	background-color: var(--black-a9);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
	background-color: var(--gray-1);
	border-radius: 6px;
	box-shadow: var(--shadow-6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
	outline: none;
}

.DialogTitle {
	margin: 0;
	font-weight: 500;
	color: var(--white-12);
	font-size: 17px;
}

.DialogDescription {
	margin: 10px 0 10px;
	color: var(--mauve-11);
	font-size: 15px;
	line-height: 1.5;
}

.DialogSubmit {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	user-select: none;
}
.Button:focus:not(:focus-visible) {
	outline: 0;
}
.Button:focus-visible {
	outline: 2px solid var(--violet-6);
	outline-offset: 1px;
}
.DialogSubmit.violet {
	background-color: var(--violet-4);
	color: var(--violet-12);
	outline-color: var(--violet-6);
}
.DialogSubmit.violet:hover {
	background-color: var(--mauve-3);
}
.DialogSubmit.violet:disabled {
	background-color: gray;
	cursor: not-allowed;
}
.DialogSubmit.green {
	background-color: var(--green-4);
	color: var(--green-11);
	outline-color: var(--green-7);
}
.DialogSubmit.green:hover {
	background-color: var(--green-5);
}



.IconButton {
	all: unset;
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: var(--gray-3);
}
.IconButton:hover {
	background-color: var(--violet-4);
}
.IconButton:focus {
	box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
	all: unset;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.Label {
	font-size: 15px;
	color: var(--violet-11);
	width: 90px;
	text-align: left;
}

.Input {
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
}
.Input:focus {
	box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}


/* reset */
button {
	all: unset;
}

.RadioGroupRoot {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.RadioGroupItem {
	background-color: white;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	box-shadow: 0 2px 10px var(--black-a7);
}
.RadioGroupItem:hover {
	background-color: var(--violet-3);
}
.RadioGroupItem:focus {
	box-shadow: 0 0 0 2px black;
}

.RadioGroupItem:disabled,
.RadioGroupItem[disabled] {
	background-color: gray;
	cursor: not-allowed;
}

.RadioGroupIndicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.RadioGroupIndicator::after {
	content: "";
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: var(--violet-11);
}

.Label {
	color: white;
	font-size: 15px;
	line-height: 1;
	padding-left: 15px;
}

.MenubarRoot {
	display: flex;
	gap: 24px;
	width: 100%;
	background-color: var(--violet-11);
	padding: 3px;
	justify-content: center;
	border-radius: 6px;
	box-shadow: 0 2px 10px var(--black-a7);
}

.MenubarTrigger {
	padding: 8px 12px;
	outline: none;
	user-select: none;
	font-weight: 500;
	line-height: 1;
	border-radius: 4px;
	color: var(--white-11);
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
}

.MenubarTrigger.active {
	background-color: var(--violet-4);
	color: var(--violet-11);
};

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

/* 旋转动画 */
.rotate {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
}

.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px;
}